#scrollTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  cursor: pointer;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 0;
  display: grid;
  place-items: center;
  font-size: 18px;
  transition: opacity 0.3s;
}

#scrollTopBtn:hover {
  opacity: 0.8;
}