<div class="container tour-split mt-4">
  <div class="tour-split__main">
    <div class="tour-split__gallery">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7 text-center">
            <div class="d-flex align-items-start">
                <div class="main-image-container">
                    <img [src]="currentImage" class="main-img rounded shadow" alt="Tour Image" />
                    <div class="indicators">
                        <span *ngFor="let img of images; let i = index" (click)="goToImage(i)"
                            [class.active-indicator]="i === currentIndex" class="indicator-dot"></span>
                    </div>
                </div>

                <div class="d-flex flex-column thumbs">
                    <div *ngFor="let img of nextImages" class="thumb-img" (click)="goToImageFromThumb(img.index)">
                        <img [src]="img.src" class="img-thumbnail rounded" alt="Preview" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    <app-tour-details-component [tour]="tourForDetails"></app-tour-details-component>
  </div>
  <aside class="tour-split__aside">
    <app-tour-booking-sidebar
      [filecode]="tour.filecode"
      [tour]="tour"
      [image]="images[0]"
      [price]="price"
      [persons]="tour.persons">
    </app-tour-booking-sidebar>
  </aside>
</div>

<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <p class="text-primary text-uppercase" style="letter-spacing: 5px;">You might also like...</p>
            <h2>Related tours</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let tour of selectedTours">
                <app-package-item-component [image]="tour.image" [days]="tour.days" [persons]="tour.persons"
                    [rating]="tour.rating" [price]="tour.price" [title]="tour.title" [routerLink]="tour.routerLink"
                    [titleLevel]="3">
                </app-package-item-component>
            </div>
        </div>

    </div>
</div>
