<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Packages</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Packages</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Packages Start -->
<div class="container-fluid packages-section">
    <div class="container">
        <!-- Header -->
        <div class="packages-header">
            <h6 class="text-primary text-uppercase">Packages</h6>
            <h1>Perfect Tour Packages</h1>
            <p class="header-subtitle">Choose from our curated selection of unforgettable journeys</p>
        </div>

        <!-- Modern Tab Navigation -->
        <div class="tabs-container">
            <div class="tabs-wrapper">
                <button 
                    class="tab-button" 
                    [class.active]="activeTab==='multi'" 
                    (click)="setTab('multi')">
                    <span class="tab-icon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <span class="tab-text">Multi-Day Tours</span>
                    <span class="tab-count">{{ multiDayTours.length }}</span>
                </button>
                <button 
                    class="tab-button" 
                    [class.active]="activeTab==='day'" 
                    (click)="setTab('day')">
                    <span class="tab-icon">
                        <i class="fa fa-sun-o"></i>
                    </span>
                    <span class="tab-text">Day Tours</span>
                    <span class="tab-count">{{ dayTours.length }}</span>
                </button>
            </div>
            <div class="tab-indicator" [class.multi]="activeTab==='multi'" [class.day]="activeTab==='day'"></div>
        </div>

        <!-- Carousel Container -->
        <div class="carousel-container">
            <button class="carousel-btn carousel-btn-prev" (click)="slideCarousel(-1)" [disabled]="currentSlide === 0">
                <i class="fa fa-chevron-left"></i>
            </button>

            <div class="carousel-wrapper">
                <div class="carousel-track" [style.transform]="'translateX(-' + (currentSlide * 100) + '%)'">
                    <div *ngFor="let tour of activeTab==='day' ? dayTours : multiDayTours; let i = index"
                        class="carousel-slide">
                        <app-package-item-component 
                            [image]="tour.image" 
                            [days]="tour.days" 
                            [persons]="tour.persons"
                            [rating]="tour.rating" 
                            [price]="tour.price" 
                            [title]="tour.title" 
                            [routerLink]="tour.routerLink"
                            class="package-card">
                        </app-package-item-component>
                    </div>
                </div>
            </div>

            <button class="carousel-btn carousel-btn-next" (click)="slideCarousel(1)" [disabled]="currentSlide >= maxSlides">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>

        <!-- Carousel Indicators -->
        <div class="carousel-indicators">
            <span 
                *ngFor="let i of [0,1,2]; let idx = index"
                class="indicator" 
                [class.active]="currentSlide === idx"
                (click)="currentSlide = idx">
            </span>
        </div>

    </div>
</div>
<!-- Packages End -->

<router-outlet></router-outlet>
<!-- Destination Start -->
